html, body{
font-family: roboto, sans-serif;
margin: 10;
background: rgb(52,56,65);
background: linear-gradient(180deg, rgba(52,56,65,1) 0%, rgba(156,159,166,1) 26%, rgba(52,56,65,1) 64%, rgba(140,140,140,1) 89%);
}
header{

text-align: center;
}
h1{
font-size: auto;
color: #F20519;
}
header img{
	max-width: 100%;
border-radius: 10%;



}
.content{
max-width: 100%;
margin: 0 auto;
padding: 0 20px;
}

div.image
{
	width: 100%;
	background-color: blue;
}
img.big-image{

max-width: 100%;
}
p.specs
{
	font-size: 16px;
color: #FFFFFF;
font-style: italic;
}
p.cap3on{
font-size: 16px;
color: #FFFFFF;
font-style: italic;
}
ul{
list-style: none;
padding: 0;
margin: 0;
}
a{
color: WHITE;
text-decora3on: none;
}

footer{
margin-top: 20px;
padding: 40px 20px;
background-color: #8C8C8C;
}
footer ul{
text-align: center;
}
footer ul li{
display: inline-block;
margin: 0 5px;
}
